* {
    margin: 0;
    padding: 0;
}

html, body, .div-body-container {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

body {
    background-color: #181b1d;
    color: #fffbfa;
}

.div-header {
    background-color: #101417;
    border-bottom: 6px solid #0d1015;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.div-header .div-title {
    cursor: default;
    font-size: 1.8rem;
    margin: 20px;
}

.div-menus {
    display: flex;
    flex-flow: row;
    margin-top: 18px;
    margin-right: 60px;
}

.div-header .div-menus {
    font-size: 1.4rem;
}

.div-header .div-menus a {
    color: #fffbfa;
    text-decoration: none;
}

.div-header .div-menus a:hover {
    text-decoration: underline;
}

.div-menu {
    margin: 10px;
}

.div-content {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 90%;
}

.div-wip {
    cursor: default;
    font-size: 3rem;
    text-align: center;
}